<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="tests/Bootstrap.php"
        colors="true"
        testsuite="default"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests/Brendt</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
