<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        testsuite="default"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests/Brendt</directory>
        </testsuite>
    </testsuites>
</phpunit>
